path/to/your/large/file filter=lfs diff=lfs merge=lfs -text
another/path/to/large/file filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
android-studio/** filter=lfs diff=lfs merge=lfs -text
